<ion-view view-title="Tutoriales" >
    <ion-content padding="true" class="scroll-content ionic-scroll  has-header">
        <div class="scroll padding" style="/* transform: translate3d(0px, 96.5px, 0px) scale(1); */">
            <section class="">
            <!--
                <section class="list card">
                    <a ui-sref="" class="item item-icon-right ng-binding" title="Ver tutorial" href="#/site/list">
                        <i class="icon ion-ios-arrow-right"></i>
                        Aplicación maestro
                    </a>
                    <div class="item item-text-wrap"><p class="ng-binding">Tutorial para el uso de la aplicación movil de ASC Learning para el maestro.</p></div>
                </section>

                <section class="list card">
                    <a ui-sref="" class="item item-icon-right ng-binding" title="Ver tutorial" href="#/site/list">
                        <i class="icon ion-ios-arrow-right"></i>
                        Web maestro
                    </a>
                    <div class="item item-text-wrap"><p class="ng-binding">Tutorial para el uso de la aplicación web de ASC Learning para el maestro</p></div>
                </section>
            -->
                <section class="list card">
                    <a ui-sref="" class="item item-icon-right ng-binding" title="Ver tutorial" href="https://www.dropbox.com/sh/mdlqpodzxs0o2wk/AABbPHDwy46Puf7B_DtYLAOYa/Guia%20del%20alumno%20movil.pdf?dl=0">
                        <i class="icon ion-ios-arrow-right"></i>
                        Aplicación alumno
                    </a>
                    <div class="item item-text-wrap"><p class="ng-binding">Tutorial para el uso de la aplicación movil de ASC Learning para el alumno.</p></div>
                </section>

                <section class="list card">
                    <a ui-sref="" class="item item-icon-right ng-binding" title="Ver tutorial" href="https://www.dropbox.com/sh/mdlqpodzxs0o2wk/AADgw-yMf7XKuVER2wz5joira/Guia%20del%20alumno.pdf?dl=0">
                        <i class="icon ion-ios-arrow-right"></i>
                        Web alumno
                    </a>
                    <div class="item item-text-wrap"><p class="ng-binding">Tutorial para el uso de la aplicación web de ASC Learning para el alumno.</p></div>
                </section>
            </section>

            <!-- ngIf: showUpload -->
        </div>
        <div class="scroll-bar scroll-bar-v">
            <div class="scroll-bar-indicator" style="transform: translate3d(0px, 0px, 0px) scaleY(0.765777); height: 412px; transform-origin: center top 0px;"></div>
        </div>
    </ion-content>
</ion-view>